{% extends "base.html" %}{% set active_page = "user" %}
{% block title %}
Account
{%endblock%}
{% block body %}
<section id="account" class="account">

  <div class="section-title">
    <h2>Account info</h2>
  </div>

  <div class="profile shadow-lg">
    <div class="profile__header">
      <div class="profile__img">
        <img class="account-img rounded-circle shadow-lg" src="{{ image_file }}" alt="Profile Image">
        <i class='bx bx-edit-alt'></i>
      </div>
      <div class="profile__edit rounded-circle">
        <div class="edit-text" onclick="user_edit('{{ current_user.id }}')" data-toggle="modal"
          data-target="#userEditModal">
          Edit
        </div>
      </div>
      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>
      <div class="wave wave4"></div>
    </div>

    <div class="profile__content">

      <div class="user__title">
        <h3>{{ current_user.username }}</h3>
      </div>

      <div class="user__email">
        <h4>{{ current_user.email }}</h4>
      </div>

      <div class="user__visit">
        <p>
          Last seen
          {{last_seen}}
        </p>
      </div>

      <div class="user__description">
        <p>
          {% if current_user.description %}
          {{ current_user.description }}
          {% else %}
          Please, tell us somemething about you &#128521;
          {% endif %}
        </p>
      </div>
    </div>

  </div>

  <div class="modal" id="userEditModal"></div>

</section>
{% endblock %}