<nav class="nav-menu">
  <ul>
    {% for caption, href,
    id in menu %}
    <li {% if id==active_page %} class="active" {% endif %}>
      {% if caption | e == "User" %}
      {% if current_user.is_authenticated %}
      {% if id == active_page %}
      <a onclick="logout()" class="btn">
        <i class="bx bx-{{id|e}}"></i>
        <span>
          Logout
        </span>
      </a>
      {% else %}
      <a href='/account' class="btn">
        <i class="bx bx-{{id|e}}"></i>
        <span>
          {{ current_user.username }}
        </span>
      </a>
      {% endif %}
      {% else %}
      <a onclick="render_modal()" class="btn" data-toggle="modal" data-target="#userModal">
        <i class="bx bx-{{id|e}}"></i>
        <span>Sign up</span>
      </a>
      {% endif %}
      {% else %}
      <a href="{{href|e}}">
        <i class="bx bx-{{id|e}}"></i>
        <span>{{caption|e}}</span>
      </a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>